<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >



<suite name="TestSuite" parallel="none" >




    <test name="IETestCases">

        <parameter name="browser" value="ie"/>

        <classes>

            <class name ="com.stopandshop.ui.RegistrationTests"/>
        </classes>

    </test>

    <test name="FirefoxTestCases">

        <parameter name="browser" value="firefox"/>

        <classes>

            <class name ="com.stopandshop.ui.RegistrationTests"/>
        </classes>

    </test>

    <test name="ChromeTestCases">

        <parameter name="browser" value="chrome"/>



        <classes>

            <class name ="com.stopandshop.ui.RegistrationTests">
            </class>

        </classes>

    </test>


</suite>


